<div class="dashboard-main-wrapper">
  <div class="card mt-24">
    <div class="card-body">
      <div class="breadcrumb mb-24">
        <ul class="flex-align gap-4">
          <li><a (click)="global.setRoute('home')" style="cursor: pointer;"
              class="text-gray-200 fw-normal text-15 hover-text-main-600">Inicio</a></li>
          <li> <span class="text-gray-500 fw-normal d-flex"><i class="ph ph-caret-right"></i></span> </li>
          <li><span class="text-main-600 fw-normal text-15">Inventario</span></li>
        </ul>
      </div>
      <!-- Header y botón de agregar -->
      <div class="d-flex align-items-center justify-content-between">
        <h4 [hidden]="showForm" class="mb-20"> Productos</h4>
        <button *ngIf="!showForm" (click)="showNewProduct()" type="button"
          class="btn btn-main text-sm btn-sm px-24 rounded-pill py-12 d-flex align-items-center gap-2">
          <i class="ph ph-plus me-4"></i>
          Agregar nuevo producto
        </button>
      </div>

      <!-- Filtro de busqueda -->
      <div class="card mt-24">
        <div class="card-body">
<!--           <button (click)="updateProductBarcodes()">Actualizar Códigos de Barras</button>
 -->
<!--  <button (click)="optimizeAndUpdateImages()">Optimizar y Actualizar Imágenes</button>
 -->

          <div class="row g-20" [hidden]="showForm">
            <div class="col-xxl-3 col-lg-4 col-sm-6" *ngFor="let product of (realtimeProducts.products$ | async); let i = index">
              <div class="card border border-gray-100">
                <!-- Mostrar el código de barras -->
                <div class="flex-between gap-4 flex-wrap mt-24" *ngIf="product.codeBarra">
                  <img [src]="product.codeBarra" alt="Código de Barras" class="imgbarcodeImage">
                </div>
                <div class="card-body p-8">
                  <a class="bg-main-100 rounded-8 overflow-hidden text-center mb-8 h-164 flex-center p-8">
                    <!-- <img *ngIf="product.file" [src]="product.file" alt="Imagen del Producto" > -->
                    <img *ngIf="product.files[0]" src="{{product.files[0]}}" alt="image">
                    <button type="button" (click)="updateProduct(product.id)"
                      class="follow-btn py-2 px-8 flex-align gap-4 text-13 fw-medium text-black border border-black rounded-pill position-absolute inset-block-start-0 inset-inline-end-0 mt-8 me-8 transition-1">
                      <i class="ph ph-pencil d-flex"></i>
                      <span class="text">Editar</span>
                    </button>
                    
                    <button type="button"
                      class="follow-btn py-2 px-8 flex-align gap-4 text-13 fw-medium text-black border border-black rounded-pill position-absolute inset-block-start-0 inset-inline-end-0 mt-48 me-8 transition-1">
                      <i class="ph ph-trash d-flex"></i>
                      <span class="text" (click)="deleteProduct(product.id)">Eliminar</span>
                    </button>
                  </a>
                  
                  <div class="p-8">
                    <span class="text-13 py-2 px-10 rounded-pill bg-success-50 text-success-600 mb-16">{{product.idCategoria.name}}</span>
                    <h5 class="mb-0"><a class="hover-text-main-600">{{product.name}}</a></h5>
                    
                    <div class="flex-align gap-8 flex-wrap mt-16">
                      <div>
                        <span class="text-gray-600 text-13"><b> Descripción: </b> 
                          <a class="fw-semibold text-gray-400 hover-text-main-400 hover-text-decoration-underline">{{product.description}}</a>
                        </span>
                      </div>
                    </div>
                    
                    <div class="flex-align gap-8 mt-12 pt-12 border-top border-gray-100">
                      <div class="flex-align gap-4">
                        <span class="text-sm text-main-600 d-flex"><i class="ph ph-tag"></i></span>
                        <span class="text-13 text-gray-600"><b>Unidad:</b> {{product.stock}}</span>
                      </div>
                      <div class="flex-align gap-4">
                        <span class="text-sm text-main-600 d-flex"><i class="ph ph-money"></i></span>
                        <span class="text-13 text-gray-600"><b>Precio:</b> ₡ {{product.price}}</span>
                      </div>
                    </div>
                    
                    <div class="flex-between gap-4 flex-wrap mt-24">
                      <span class="text-13 fw-bold text-gray-600">Stock: {{product.stock}}</span>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Formulario de Nuevo producto -->
      <div class="card mt-24" [hidden]="!showForm || isEditing">
        <div class="card-header border-bottom">
          <h4 class="mb-4">Nuevo producto</h4>
          <p class="text-gray-600 text-15">Ingrese todos los datos del producto</p>
        </div>
        <div class="card-body">
          <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()" #productFormDir="ngForm">
            <div class="row gy-4">
              <div class="col-sm-6 col-xs-6">
                <label for="category" class="form-label mb-8 h6">Categoría</label>
                <div class="input-group">
                  <select formControlName="idCategoria" class="form-select py-11" id="category">
                    <option value="">Seleccione una categoría</option>
                    <option *ngFor="let category of (realtimeCategorias.categorias$ | async)" [value]="category.id">
                      {{category.name}}
                    </option>
                  </select>
                  <button type="button" class="btn btn-outline-main" (click)="openNewCategoryModal()">
                    <i class="ph ph-plus"></i>
                  </button>
                </div>
              </div>
              <div class="col-sm-6 col-xs-6">
                <label for="name" class="form-label mb-8 h6">Nombre</label>
                <input formControlName="name" type="text" class="form-control py-11" id="name" placeholder="Nombre del producto">
              </div>
              <div class="col-sm-6 col-xs-6">
                <label for="description" class="form-label mb-8 h6">Descripcion</label>
                <input formControlName="description" type="text" class="form-control py-11" id="description" placeholder="Ingrese descripcion">
              </div>
              <div class="col-sm-4 col-xs-4">
                <label for="stock" class="form-label mb-8 h6">Unidad</label>
                <input formControlName="stock" type="number" class="form-control py-11" id="stock" placeholder="Ingrese unidades">
              </div>
              <div class="col-sm-4 col-xs-4">
                <label for="price" class="form-label mb-8 h6">Precio</label>
                <input formControlName="price" type="number" class="form-control py-11" id="price" placeholder="Ingrese precio">
              </div>
              <div class="col-sm-4 col-xs-4">
                <label for="color" class="form-label mb-8 h6">Color</label>
                <input formControlName="color" type="text" class="form-control py-11" id="color" placeholder="Ingrese color">
              </div>
            
              <div class="clearfix">
                <div class="custom-file-upload">
                  <div *ngIf="selectedImage" class="image-preview">
                    <img [src]="selectedImagePrev" alt="Selected Image" class="img-thumbnail"
                         style="border-radius: 50%; cursor: pointer; border: 5px solid #3ba5a8; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); transition: box-shadow 0.3s ease, transform 0.3s ease; max-width: 150px; max-height: 150px;" />
                  </div>
                  <input #imageUpload id="imageUpload" type="file" (change)="onImageChange($event)" class="form-control"
                         accept="image/*" style="display: none;" />
                  <label for="imageUpload" class="btn mb-2 me-2 btn-primary">
                    <i class="fa-solid fa-search me-2"></i>Imágen de producto
                  </label>
                  <div *ngIf="!selectedImage" class="text-danger">* Por favor, suba una imagen.</div>
                </div>
              </div>
              <div class="col-lg-12 col-sm-6 col-xs-6">
                  <div class="flex-align justify-content-end gap-8">
                    <button type="button" (click)="showForm=false" class="btn btn-outline-main bg-main-100 border-main-100 text-main-600 rounded-pill py-3 px-4">Cancelar</button>
                    <button type="submit" class="btn btn-main rounded-pill py-3 px-4" [disabled]="!addProductForm.valid">Guardar y generar código de barras</button>
                  </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card mt-24" [hidden]="!showForm || !isEditing">
        <div class="card-header border-bottom">
          <h4 class="mb-4">Editar producto</h4>
          <p class="text-gray-600 text-15">Ingrese todos los datos del producto</p>
        </div>

        <div class="card-body">
          <form [formGroup]="addProductForm" (ngSubmit)="updateProduct(currentProductId)" #productFormDir="ngForm">
            <div class="row gy-4">
              <div class="col-sm-6 col-xs-6">
                <label for="category" class="form-label mb-8 h6">Categoría</label>
                <div class="input-group">
                  <select formControlName="idCategoria" class="form-select py-11" id="category">
                    <option value="">Seleccione una categoría</option>
                    <option *ngFor="let category of (realtimeCategorias.categorias$ | async)" [value]="category.id">
                      {{category.name}}
                    </option>
                  </select>
                  <button type="button" class="btn btn-outline-main" (click)="openNewCategoryModal()">
                    <i class="ph ph-plus"></i>
                  </button>
                </div>
              </div>
              <div class="col-sm-6 col-xs-6">
                <label for="name" class="form-label mb-8 h6">Nombre</label>
                <input formControlName="name" type="text" class="form-control py-11" id="name"
                  placeholder="Nombre del producto">
              </div>
             
              <div class="col-sm-6 col-xs-6">
                <label for="description" class="form-label mb-8 h6">Descripcion</label>
                <input formControlName="description" type="text" class="form-control py-11" id="description"
                  placeholder="Ingrese descripcion">
              </div>
              <div class="col-sm-4 col-xs-4">
                <label for="stock" class="form-label mb-8 h6">Unidades</label>
                <input formControlName="stock" type="number" class="form-control py-11" id="stock" placeholder="Cantidad en stock" min="0">
              </div>
              <div class="col-sm-4 col-xs-4">
                <label for="price" class="form-label mb-8 h6">Precio</label>
                <input formControlName="price" type="number" class="form-control py-11" id="price"
                  placeholder="Ingrese precio">
              </div>
              <div class="col-sm-4 col-xs-4">
                <label for="color" class="form-label mb-8 h6">Color</label>
                <input formControlName="color" type="text" class="form-control py-11" id="color"
                  placeholder="Ingrese color">
              </div>

              <div class="clearfix">
                <div class="custom-file-upload">
                    <div *ngIf="selectedImagePrev" class="image-preview">
                        <img [src]="selectedImagePrev" alt="Selected Image" class="img-thumbnail"
                             style="border-radius: 50%; cursor: pointer; border: 5px solid #3ba5a8; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); transition: box-shadow 0.3s ease, transform 0.3s ease; max-width: 150px; max-height: 150px;" />
                    </div>
                    <input #imageUpload id="imageUpload" type="file" (change)="onImageChange($event)" class="form-control"
                           accept="image/*" style="display: none;" />
                    <label for="imageUpload" class="btn mb-2 me-2 btn-primary">
                        <i class="fa-solid fa-search me-2"></i>Imágen de producto
                    </label>
                    <div *ngIf="!selectedImagePrev" class="text-danger">* Por favor, suba una imagen.</div>
                </div>
            </div>

              <div class="col-12">
                <div class="flex-align justify-content-end gap-8">
                  <button type="button" (click)="showForm=false"
                    class="btn btn-outline-main bg-main-100 border-main-100 text-main-600 rounded-pill py-9">Cancelar</button>
                  <button type="submit" class="btn btn-main rounded-pill py-9"
                    [disabled]="!addProductForm.valid">Guardar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="floating-button-container" *ngIf="!showForm">
    <button class="floating-button" (click)="showNewProduct()">
        +
    </button>
    <!-- <div *ngIf="showOptions" class="options-container">
        <button (click)="openCashModal()">Realizar venta</button>
        <button (click)="openCashCloseModal()">Cerrar caja</button>
    </div> -->
</div>
</div>