<div class="dashboard-main-wrapper">
    <div class="card mt-24">
        <div class="card-body">
            <div class="breadcrumb-with-buttons mb-24 flex-between flex-wrap gap-8">
                <!-- Breadcrumb Start -->
                <div class="breadcrumb mb-24">
                    <ul class="flex-align gap-4">
                      <li><a (click)="global.setRoute('home')" style="cursor: pointer;"
                          class="text-gray-200 fw-normal text-15 hover-text-main-600">Inicio</a></li>
                      <li> <span class="text-gray-500 fw-normal d-flex"><i class="ph ph-caret-right"></i></span> </li>
                      <li><span class="text-main-600 fw-normal text-15">Inventario de Productos</span></li>
                    </ul>
                  </div>
                
            </div>
 
            <!-- Card Start -->
            <div class="card">
                <!-- Card Header Start -->
                <div class="card-header border-bottom border-gray-100">
                    <div class="flex-between flex-wrap gap-8">
                     
                        <div>
                            <input 
                            class="form-control ps-40 h-40 border-transparent focus-border-main-600 bg-main-50 rounded-pill placeholder-15" 

                                type="text" 
                                placeholder="Buscar productos..." 
                                (input)="onSearchChange($event)" 
                            />
                            <p *ngIf="matchCount > 0">{{ matchCount }} productos encontrados</p>
                            
                        </div>
                        <div class="flex-align gap-8 flex-wrap">
                            <div class="position-relative text-gray-500 flex-align gap-4 text-13">
                                <span class="text-inherit">Vistas </span>
                                <div class="position-relative">
                                    <div class="flex-align gap-8">
                                        <button (click)="toggleViewAll()" class="btn btn-outline-main rounded-pill py-9">
                                            {{ showAllProducts ? 'Ver paginados' : 'Ver todos' }}
                                          </button>
                                        <button type="button" class="list-view-btn text-gray-200 text-2xl">
                                            <i class="ph ph-rows"></i>
                                        </button>
                                        <button type="button" class="grid-view-btn active text-gray-200 text-2xl">
                                            <i class="ph ph-squares-four"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-main rounded-pill py-9 text-gray-200 text-2xl">
                                            <i class="ph ph-clipboard-text"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <button *ngIf="!showForm" (click)="showNewProduct()" type="button"
                                  class="btn btn-main text-sm btn-sm px-24 rounded-pill py-12 d-flex align-items-center gap-2">
                                  <i class="ph ph-plus me-4"></i>
                                  Agregar nuevo producto
                                </button>
                              </div>
                        </div>
                    </div>
                </div>
                <!-- Card Header End -->

                <div class="card-body p-0">
                    <!-- Grid View Start -->
                    <div class="grid-view py-20" [hidden]="showForm">
                        <div class="resource-item-wrapper px-24" >
                            <!-- <div class="resource-item" *ngFor="let product of (realtimeProducts.products$ | async); let i = index"> -->
                                <!-- <div class="resource-item" *ngFor="let product of filteredProducts; let i = index"> -->
                                    <div class="resource-item" *ngFor="let product of (showAllProducts ? filteredProducts : paginatedProducts); let i = index">
                                  
                                <label for="checkbox49" class="">
                                    <div class="dropdown flex-shrink-0">
                                        <button class="text-gray-400 text-xl d-flex rounded-4 text-end ms-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background: #dee2e6;">
                                            <i class="ph-fill ph-dots-three-outline"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu--md border-0 bg-transparent p-0">
                                            <div class="card border border-gray-100 rounded-12 box-shadow-custom">
                                                <div class="card-body p-12">
                                                    <div class="max-h-200 overflow-y-auto scroll-sm pe-8">
                                                        <ul>
                                                            <li class="mb-0">
                                                                <a (click)="updateProduct(product.id)" class="py-6 text-15 px-8 hover-bg-gray-50 text-gray-300 w-100 rounded-8 fw-normal text-xs d-block text-start">
                                                                    <span class="text"> <i class="ph ph-pencil me-4"></i> Editar</span>
                                                                </a>
                                                            </li>
                                                            <li class="mb-0">
                                                                <a (click)="deleteProduct(product.id)" class="py-6 text-15 px-8 hover-bg-gray-50 text-gray-300 w-100 rounded-8 fw-normal text-xs d-block text-start">
                                                                    <span class="text"> <i class="ph ph-trash me-4"></i> Eliminar</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="d-block mb-16">
                                        <img *ngIf="product.files[0]" src="{{product.files[0]}}" alt="image" style="max-width: 150px; border-radius: 10px; height: 150px;">
                                    </span>
                                    <div class="flex-between gap-4 flex-wrap mt-24" *ngIf="product.codeBarra">
                                        <img [src]="product.codeBarra" alt="Código de Barras" class="imgbarcodeImage">
                                    </div>
                                    <span class="d-block text-gray-400 text-15">{{product.name}}</span>
                                    <span class="d-block text-gray-200 text-15">{{product.stock}}</span>
                                    <span class="d-block text-gray-200 text-15">{{product.price}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- Grid View End -->

                    <!-- List View Start -->
                    <div class="list-view d-none" [hidden]="showForm">
                        <div class="card-body p-0 overflow-x-auto scroll-sm scroll-sm-horizontal">
                            <table id="studentTable" class="table table-striped style-three w-100">
                                <thead>
                                    <tr>
                                        <th class="fixed-width">
                                            <div class="form-check">
                                                <input class="form-check-input border-gray-200 rounded-4" type="checkbox" id="selectAll">
                                            </div>
                                        </th>
                                        <th class="h6 text-gray-300">Imagen</th>
                                        <th class="h6 text-gray-300">Nombre</th>
                                        <th class="h6 text-gray-300">Precio</th>
                                        <th class="h6 text-gray-300">Stock</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <tr *ngFor="let product of filteredProducts; let i = index"> -->
                                        <tr *ngFor="let product of (showAllProducts ? filteredProducts : paginatedProducts); let i = index">
                                        <td class="fixed-width">
                                            <div class="dropdown flex-shrink-0">
                                                <button class="text-gray-400 text-xl d-flex rounded-4 text-end ms-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background: #dee2e6;">
                                                    <i class="ph-fill ph-dots-three-outline"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu--md border-0 bg-transparent p-0">
                                                    <div class="card border border-gray-100 rounded-12 box-shadow-custom">
                                                        <div class="card-body p-12">
                                                            <div class="max-h-200 overflow-y-auto scroll-sm pe-8">
                                                                <ul>
                                                                    <li class="mb-0">
                                                                        <a (click)="updateProduct(product.id)" class="py-6 text-15 px-8 hover-bg-gray-50 text-gray-300 w-100 rounded-8 fw-normal text-xs d-block text-start">
                                                                            <span class="text"> <i class="ph ph-pencil me-4"></i> Editar</span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="mb-0">
                                                                        <a (click)="deleteProduct(product.id)" class="py-6 text-15 px-8 hover-bg-gray-50 text-gray-300 w-100 rounded-8 fw-normal text-xs d-block text-start">
                                                                            <span class="text"> <i class="ph ph-trash me-4"></i> Eliminar</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        
                                        <td>
                                            <div class="flex-align gap-3">
                                                <img *ngIf="product.files[0]" src="{{product.files[0]}}" alt="image" style="max-width: 10%; max-width: 200px; height: 200px; border-radius: 10px;
">
                                            </div>
                                        </td>
                                        <td>
                                            <span class="h6 mb-0 fw-medium text-gray-300">{{product.name}}</span>
                                        </td>
                                        <td>
                                            <span class="h6 mb-0 fw-medium text-gray-300">{{product.price}}</span>
                                        </td>
                                        <td>
                                            <span class="h6 mb-0 fw-medium text-gray-300">{{product.stock}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- List View End -->
                    <div class="list-view" [hidden]="showForm">
                        <div *ngFor="let product of products">
                            <div>
                                <span>{{ product.name }}</span>
                                <button type="button" (click)="downloadPdf(product.barcode)">Download Barcode PDF</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Formulario de Nuevo producto -->
                <div class="card mt-24" [hidden]="!showForm || isEditing">
                    <div class="card-header border-bottom">
                    <h4 class="mb-4">Nuevo producto</h4>
                    <p class="text-gray-600 text-15">Ingrese todos los datos del producto</p>
                    </div>
                    <div class="card-body">
                    <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()" #productFormDir="ngForm">
                        <div class="row gy-4">
                        <div class="col-sm-6 col-xs-6">
                            <label for="category" class="form-label mb-8 h6">Categoría</label>
                            <div class="input-group">
                            <select formControlName="idCategoria" class="form-select py-11" id="category">
                                <option value="">Seleccione una categoría</option>
                                <option *ngFor="let category of (realtimeCategorias.categorias$ | async)" [value]="category.id">
                                {{category.name}}
                                </option>
                            </select>
                            <button type="button" class="btn btn-outline-main" (click)="openNewCategoryModal()">
                                <i class="ph ph-plus"></i>
                            </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <label for="name" class="form-label mb-8 h6">Nombre</label>
                            <input formControlName="name" type="text" class="form-control py-11" id="name" placeholder="Nombre del producto">
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <label for="description" class="form-label mb-8 h6">Descripcion</label>
                            <input formControlName="description" type="text" class="form-control py-11" id="description" placeholder="Ingrese descripcion">
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <label for="stock" class="form-label mb-8 h6">Unidad</label>
                            <input formControlName="stock" type="number" class="form-control py-11" id="stock" placeholder="Ingrese unidades">
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <label for="price" class="form-label mb-8 h6">Precio</label>
                            <input formControlName="price" type="number" class="form-control py-11" id="price" placeholder="Ingrese precio">
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <label for="color" class="form-label mb-8 h6">Color</label>
                            <input formControlName="color" type="text" class="form-control py-11" id="color" placeholder="Ingrese color">
                        </div>
                        
                        <div class="clearfix">
                            <div class="custom-file-upload">
                            <div *ngIf="selectedImage" class="image-preview">
                                <img [src]="selectedImagePrev" alt="Selected Image" class="img-thumbnail"
                                    style="border-radius: 50%; cursor: pointer; border: 5px solid #3ba5a8; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); transition: box-shadow 0.3s ease, transform 0.3s ease; max-width: 150px; max-height: 150px;" />
                            </div>
                            <input #imageUpload id="imageUpload" type="file" (change)="onImageChange($event)" class="form-control"
                                    accept="image/*" style="display: none;" />
                            <label for="imageUpload" class="btn mb-2 me-2 btn-primary">
                                <i class="fa-solid fa-search me-2"></i>Imágen de producto
                            </label>
                            <div *ngIf="!selectedImage" class="text-danger">* Por favor, suba una imagen.</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-6 col-xs-6">
                            <div class="flex-align justify-content-end gap-8">
                                <button type="button" (click)="showForm=false" class="btn btn-outline-main bg-main-100 border-main-100 text-main-600 rounded-pill py-3 px-4">Cancelar</button>
                                <button type="submit" class="btn btn-main rounded-pill py-3 px-4" [disabled]="!addProductForm.valid">Guardar y generar código de barras</button>
                            </div>
                        </div>
                        </div>
                    </form>
                    </div>
                </div>
                <div class="card mt-24" [hidden]="!showForm || !isEditing">
                    <div class="card-header border-bottom">
                    <h4 class="mb-4">Editar producto</h4>
                    <p class="text-gray-600 text-15">Ingrese todos los datos del producto</p>
                    </div>

                    <div class="card-body" *ngIf="showForm">
                    <form [formGroup]="addProductForm" (ngSubmit)="submitProductForm()" #productFormDir="ngForm" >
                        <div class="row gy-4">
                        <div class="col-sm-6 col-xs-6">
                            <label for="category" class="form-label mb-8 h6">Categoría</label>
                            <div class="input-group">
                            <select formControlName="idCategoria" class="form-select py-11" id="category">
                                <option value="">Seleccione una categoría</option>
                                <option *ngFor="let category of (realtimeCategorias.categorias$ | async)" [value]="category.id">
                                {{category.name}}
                                </option>
                            </select>
                            <button type="button" class="btn btn-outline-main" (click)="openNewCategoryModal()">
                                <i class="ph ph-plus"></i>
                            </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <label for="name" class="form-label mb-8 h6">Nombre</label>
                            <input formControlName="name" type="text" class="form-control py-11" id="name"
                            placeholder="Nombre del producto">
                        </div>
                        
                        <div class="col-sm-6 col-xs-6">
                            <label for="description" class="form-label mb-8 h6">Descripcion</label>
                            <input formControlName="description" type="text" class="form-control py-11" id="description"
                            placeholder="Ingrese descripcion">
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <label for="stock" class="form-label mb-8 h6">Unidades</label>
                            <input formControlName="stock" type="number" class="form-control py-11" id="stock" placeholder="Cantidad en stock" min="0">
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <label for="price" class="form-label mb-8 h6">Precio</label>
                            <input formControlName="price" type="number" class="form-control py-11" id="price"
                            placeholder="Ingrese precio">
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <label for="color" class="form-label mb-8 h6">Color</label>
                            <input formControlName="color" type="text" class="form-control py-11" id="color"
                            placeholder="Ingrese color">
                        </div>

                        <div class="clearfix">
                            <div class="custom-file-upload">
                                <div *ngIf="selectedImagePrev" class="image-preview">
                                    <img [src]="selectedImagePrev" alt="Selected Image" class="img-thumbnail"
                                        style="border-radius: 50%; cursor: pointer; border: 5px solid #3ba5a8; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); transition: box-shadow 0.3s ease, transform 0.3s ease; max-width: 150px; max-height: 150px;" />
                                </div>
                                <input #imageUpload id="imageUpload" type="file" (change)="onImageChange($event)" class="form-control"
                                    accept="image/*" style="display: none;" />
                                <label for="imageUpload" class="btn mb-2 me-2 btn-primary">
                                    <i class="fa-solid fa-search me-2"></i>Imágen de producto
                                </label>
                                <div *ngIf="!selectedImagePrev" class="text-danger">* Por favor, suba una imagen.</div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="flex-align justify-content-end gap-8">
                            <button type="button" (click)="showForm=false"
                                class="btn btn-outline-main bg-main-100 border-main-100 text-main-600 rounded-pill py-9">Cancelar</button>
                            <button type="submit" class="btn btn-main rounded-pill py-9"
                            [disabled]="addProductForm.invalid || !currentProductId">Guardar Cambios</button>
                            </div>
                        </div>
                        </div>
                    </form>
                    </div>
                </div>
                <div class="card-footer border-top border-gray-100" *ngIf="!showAllProducts">
                    <div class="flex-between flex-wrap gap-8 mt-20">
                      <button (click)="prevPage()" [disabled]="currentPage === 1" 
                        class="btn btn-outline-gray rounded-pill py-9 flex-align gap-4">
                        <span class="d-flex text-xl"><i class="ph ph-arrow-left"></i></span> 
                        Anterior
                      </button>
                  
                      <ul class="pagination flex-align flex-wrap">
                        <li *ngFor="let page of getPageNumbers()" class="page-item" [class.active]="page === currentPage">
                          <button (click)="goToPage(page)" class="page-link h-44 w-44 flex-center text-15 rounded-8 fw-medium">
                            {{ page }}
                          </button>
                        </li>
                      </ul>
                      
                      <button (click)="nextPage()" [disabled]="currentPage * perPage >= totalProducts" 
                        class="btn btn-main rounded-pill py-9 flex-align gap-4">
                        Siguiente <span class="d-flex text-xl"><i class="ph ph-arrow-right"></i></span> 
                      </button>
                    </div>
                  </div>
                <div class="floating-button-container" *ngIf="!showForm">
                    <button class="floating-button" (click)="showNewProduct()">
                        +
                    </button>
                </div>
            </div>
            <!-- Card End -->
        </div>
    </div>
</div>