.fecha-hora {
    font-size: 1.1rem;
    color: #666;
}

.hora {
    font-weight: bold;
}

input[name="search"] {
    width: 150%; /* Asegúrate de que el campo ocupe todo el ancho */
}

@media (max-width: 576px) {
    input[name="search"] {
        width: 100%; /* Asegúrate de que el campo ocupe todo el ancho en móviles */
    }
}
.floating-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.floating-button {
    background-color: #ed5e76;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.options-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.options-container button {
    margin: 5px 0;
    background-color: white;
    border: 1px solid #ed5e76;
    color: #ed5e76;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
.floating-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.floating-button {
    background-color: #ed5e76;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.options-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.options-container button {
    margin: 5px 0;
    background-color: white;
    border: 1px solid #ed5e76;
    color: #ed5e76;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.factura-preview {
    width: 80mm; /* Ancho fijo de 80 mm */
    font-size: 12px; /* Tamaño de fuente más pequeño */
    padding: 5mm; /* Espaciado interno */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    border: 1px solid #000; /* Borde opcional para la factura */
}

.factura-preview img {
    max-height: 30px; /* Reduce el tamaño del logo */
}

.factura-preview table {
    width: 100%; /* La tabla ocupa el 100% del ancho */
    font-size: 10px; /* Tamaño de fuente más pequeño para la tabla */
    border-collapse: collapse; /* Colapsar bordes de la tabla */
}

.factura-preview th, .factura-preview td {
    border: 1px solid #000; /* Bordes para las celdas de la tabla */
    padding: 2px; /* Espaciado interno de las celdas */
}

.factura-preview .totales {
    font-size: 12px; /* Tamaño de fuente para los totales */
}